<div class="container">
    <div class="row" id="corpo">
        <div class="col-md-2"></div>
        <div class="col-md-8 tx">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate culpa repellendus consequatur nostrum at quia iusto itaque accusantium perferendis et consectetur velit adipisci deserunt, delectus exercitationem dicta. Assumenda, tempore laudantium.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque est, architecto nobis aspernatur asperiores non commodi ducimus natus ipsam? Nam rerum commodi soluta voluptatibus neque vel tempore nihil. At!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti non repudiandae eaque libero molestias accusantium laboriosam modi nesciunt tempora totam velit sit, consequuntur ea vero, blanditiis, fugit excepturi aliquid!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate culpa repellendus consequatur nostrum at quia iusto itaque accusantium perferendis et consectetur velit adipisci deserunt, delectus exercitationem dicta. Assumenda, tempore laudantium.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque est, architecto nobis aspernatur asperiores non commodi ducimus natus ipsam? Nam rerum commodi soluta voluptatibus neque vel tempore nihil. At!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti non repudiandae eaque libero molestias accusantium laboriosam modi nesciunt tempora totam velit sit, consequuntur ea vero, blanditiis, fugit excepturi aliquid!</p>
        </div>
        <div class="col-md-2"></div>
    
    </div>
    </div>
